#Body .Container {
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 45px;
	padding-right: 45px;
	background-color: var(--background-main-color);
	margin-top: auto;
	margin-bottom: auto;
}

#Body .Container .Row .Content:last-child:not(:first-child) {
	margin-left: 25px;
}

#Body .Container .Row .Image {
	max-width: 50%;
}

@media only screen and (max-width: 992px) {
	#Body .Container .Row .Content:not(:first-child) {
		margin-top: 25px;
	}

	#Body .Container .Row .Content:last-child:not(:first-child) {
		margin-left: 0px;
	}

	#Body .Container .Row .Image {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}