#Body .Container {
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 45px;
	padding-right: 45px;
	background-color: var(--background-main-color);
	margin-top: auto;
	margin-bottom: auto;
}

#Body .Container .Row .Image {
	max-width: 40%;
	border-radius: 40px;
}

@media only screen and (min-width: 993px) {
	#Body .Container .Row .Content:last-child:not(:first-child) {
		margin-left: 35px;
	}
}

@media only screen and (max-width: 992px) {
	#Body .Container .Row {
		display: block;
	}

	#Body .Container .Row:not(:first-child) {
		margin-top: 25px;
	}

	#Body .Container .Row .Content:not(:first-child) {
		margin-top: 25px;
	}

	#Body .Container .Row .Content:last-child:not(:first-child):not(.Image) {
		margin-left: 0px;
	}

	#Body .Container .Row .Content.Image {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
	}
}