<!DOCTYPE html>
<html>
	<body>
		<footer id="Footer">
			<div class="Container">
				<div id="NavButtons" class="NavButtons vertical">
					<a class="Title">Not a Google</a>
					<ul>
						<li class="link">
							<a href="/?utm_source=footer">
								<div>Home</div>
								<div class="underline"></div>
							</a>
						</li>
						<li class="link">
							<a href="/catalog">
								<div>Catalog</div>
								<div class="underline"></div>
							</a>
						</li>
					</ul>
				</div>
				<div id="NavButtonsSupport" class="NavButtons vertical">
					<a class="Title">Support</a>
					<ul>
						<li class="link">
							<a href="/support/contact">
								<div>Contact</div>
								<div class="underline"></div>
							</a>
						</li>
						<li class="link">
							<a href="/support/issue">
								<div>Report an issue</div>
								<div class="underline"></div>
							</a>
						</li>
					</ul>
				</div>
				<div id="NavButtonsEnterprise" class="NavButtons vertical">
					<a class="Title">For enterprise</a>
					<ul>
						<li class="link">
							<a href="/pricing">
								<div>Pricing</div>
								<div class="underline"></div>
							</a>
						</li>
					</ul>
				</div>
				<div id="NavButtonsDevelopers" class="NavButtons vertical">
					<a class="Title">For developers</a>
					<ul>
						<li class="link">
							<a href="/developers/api">
								<div>API</div>
								<div class="underline"></div>
							</a>
						</li>
						<li class="link">
							<a href="/developers/docs">
								<div>Documentation</div>
								<div class="underline"></div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>