<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css' ~ request.path ~ '/index.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles_override.css') }}" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
		<script src="{{ url_for('static', path='/scripts/lib/jquery.js') }}"></script>
		<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
		<script src="{{ url_for('static', path='/scripts/lib/util.js') }}"></script>
		<script src="{{ url_for('static', path='/scripts/tools/chatgpt/index.js') }}"></script>
		<title>ChatGPT - Am I Robot</title>
	</head>
	<body>
		{% include "blocks/header.html" %}
		<div id="Body">
			<div class="Container">
				<div class="Row">
					<form class="Form" onsubmit='GPT(document.getElementsByName("input-text")[0].value, document.getElementsByName("model")[0].value); return false;'>
						<table>
							<tbody>
								<tr class="Text">
									<td class="top">Text:</td>
									<td><textarea name="input-text" type="text" maxlength="1000" required></textarea></td>
								</tr>
								<tr class="Model">
									<td>Model:</td>
									<td>
										<select name="model">
											{% for model in models %}
												<option value="{{ model }}">{{ model }}</option>
											{% endfor %}
										</select>
										<script type="text/javascript">
											const params = new URLSearchParams(location.search);
											document.getElementsByName("model")[0].value = params.get("model") || "{{ models[0] }}";
										</script>
									</td>
								</tr>
							</tbody>
						</table>
						<input name="submit" type="submit" class="right" value="Send">
					</form>
				</div>
				<div class="Row">
					<a id="Result" class="Result"></a>
				</div>
			</div>
		</div>
		{% include "blocks/footer.html" %}
	</body>
</html>