<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css' ~ request.path ~ '/index.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles_override.css') }}" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
		<script src="{{ url_for('static', path='/scripts/lib/jquery.js') }}"></script>
		<script src="{{ url_for('static', path='/scripts/lib/util.js') }}"></script>
		<script src="{{ url_for('static', path='/scripts/tools/tts/index.js') }}"></script>
		<title>TTS - Am I Robot</title>
	</head>
	<body>
		{% include "blocks/header.html" %}
		<div id="Body">
			<div class="Container">
				<div class="Row">
					<form class="Form" onsubmit='TTS(document.getElementsByName("text")[0].value, document.querySelector("input[name=\"model\"]:checked").value, document.getElementsByName("speaker")[0].value, parseInt(document.getElementsByName("pitch")[0].value)); return false;'>
						<table>
							<tbody>
								<tr class="Text">
									<td class="top">Text:</td>
									<td><textarea name="text" maxlength="1000" title="Numbers to words supported languages: {{ num2words_langs|join(', ') }}" required></textarea></td>
								</tr>
								<tr class="Models">
									<td class="top">Model:</td>
									<td>
										<ul>
											{% for model_name, speakers in models.items() %}
												<li><label><input name="model" type="radio" required value="{{ model_name }}" onchange="OnModelChanged(this.value)">{{ model_name }}</label></li>
												<script type="text/javascript">
													LoadModelSpeakers("{{ model_name }}", {{ speakers|tojson }});
												</script>
											{% endfor %}
										</ul>
									</td>
								</tr>
								<tr class="Speakers">
									<td>Speaker:</td>
									<td>
										<select name="speaker"></select>
									</td>
								</tr>
								<tr class="Pitch">
									<td>Pitch:</td>
									<td>
										<input name="pitch" type="range" min="-100" max="200" step="1" value="0" oninput="this.nextElementSibling.value = this.value; return true;" style="vertical-align: middle;">
										<output></output>
										<script>
											inputs = document.getElementsByTagName("input");
											inputs[inputs.length-1].oninput();
										</script>
									</td>
								</tr>
							</tbody>
						</table>
						<input name="submit" type="submit" class="right" value="Generate">
					</form>
				</div>
				<div class="Row">
					<audio id="ResultAudio" class="Result" controls></audio>
				</div>
			</div>
		</div>
		{% include "blocks/footer.html" %}
	</body>
</html>