<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css' ~ request.path ~ '/index.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles_override.css') }}" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
		<script src="{{ url_for('static', path='/scripts/lib/jquery.js') }}"></script>
		<script src="{{ url_for('static', path='/scripts/lib/util.js') }}"></script>
		<script src="{{ url_for('static', path='/scripts/tools/upscaler/index.js') }}"></script>
		<title>Upscaler - Am I Robot</title>
	</head>
	<body>
		{% include "blocks/header.html" %}
		<div id="Body">
			<div class="Container">
				<div class="Row">
					<form class="Form" onsubmit='Upscale(GetUploadedFiles(document.getElementsByName("input-image")[0])[0], parseInt(document.getElementsByName("scale")[0].value), document.querySelector("input[name=\"model\"]:checked").value); return false;'>
						<table>
							<tbody>
								<tr class="File">
									<div id="InputFile" class="ImageBox Clickable" name="input-image" onclick="FileClick(this, ['image/png', '.jpg', '.jpeg'], ImageFiles)" ondrop="FileDrop(this, ['png', 'jpeg', 'jpg'], event, ImageFiles);" ondragover="event.preventDefault();" required>
										<a>Choose image</a>
										<img/>
									</div>
								</tr>
								<tr class="Scale">
									<td>Scale:</td>
									<td>
										<label><input name="scale" type="radio" required value="2">2</label>
										<label><input name="scale" type="radio" required value="4">4</label>
									</td>
								</tr>
								<tr class="Model">
									<td class="top">Model:</td>
									<td>
										<ul>
											{% for model_name in models %}
												<li><label><input name="model" type="radio" required value="{{ model_name }}">{{ model_name }}</label></li>
											{% endfor %}
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
						<input name="submit" type="submit" class="right" value="Upscale">
					</form>
				</div>
				<div class="Row">
					<div id="ResultImage" class="ImageBox Result">
						<img class="OnlyLoaded" name="result-image" alt="upscaled" />
						<a class="OnlyNotLoaded NotLoading">Upscaled image</a>
						<svg class="LoadingSpinner" viewBox="0 0 50 50">
							<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5" />
						</svg>
					</div>
				</div>
			</div>
		</div>
		{% include "blocks/footer.html" %}
	</body>
</html>