@import "../index/index.css";
@import "../imagebox.css";
@import "tool.css";

#Body .Container .Row .Form .ImageBox {
	margin-left: auto;
	margin-right: auto;
}

#Body .Container .Row #ResultImage.HasImage .OnlyNotLoaded,
#Body .Container .Row #ResultImage:not(.HasImage) .OnlyLoaded {
	display: none;
}