@import "../index/index.css";
@import "../imagebox.css";

#Body .Container .Row .Form table tbody tr td.top {
	vertical-align: top;
}

#Body .Container .Row .Form table tbody tr td .center {
	vertical-align: middle;
}

#Body .Container .Row .Form ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

#Body .Container .Row > * {
	margin-left: auto;
	margin-right: auto;
}

#Body .Container .Row .Form .ImageBox {
	margin-left: auto;
	margin-right: auto;
}

#Body .Container .Row #ResultImage {
	margin-top: 15px;
}

#Body .Container .Row #ResultImage.HasImage .OnlyNotLoaded,
#Body .Container .Row #ResultImage:not(.HasImage) .OnlyLoaded {
	display: none;
}