@import "../index/index.css";

#Body .Container {
	display: grid;
}

#Body .Container .Row {
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
}

.ToolsList ul {
	list-style-type: disc;
}