<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css/index/index.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles_override.css') }}" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
		<script src="{{ url_for('static', path='/scripts/lib/jquery.js') }}"></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
		<script src="{{ url_for('static', path='/scripts/lib/util.js') }}"></script>
		<title>Am I Robot</title>
	</head>
	<body>
		{% include "blocks/header.html" %}
		<div id="Body">
			<div class="Container">
				<div class="Row">
					<div class="Content Text" style="margin-left: auto; margin-right: auto; text-align: center;">
						<h2>Welcome to AIR – Your Gateway to the World of AI-Powered Tools!</h2>
					</div>
				</div>
				<div class="Row">
					<div class="Content Text">
						<h3>🤖 Who We Are 🌐</h3>
						<p>At AIR, we're passionate about the extraordinary potential of AI and its transformative impact on our daily lives. We're not just a website; we're your trusted companion on the journey through the digital age, providing a vast array of AI-powered tools and resources to empower you in this exciting technological era.</p>
					</div>
					<img class="Content Image" src="https://www.imec-int.com/_next/image?url=%2Fsites%2Fdefault%2Ffiles%2F2020-07%2FAI-roadmap--the-future-of-edge-AI.jpg&w=3840&q=75" alt="about_img">
				</div>
				<div class="Row">
					<img class="Content Image" src="https://image.semiconductor.samsung.com/image/samsung/p6/semiconductor/newsroom/tech-blog/on-the-edge-how-edge-ai-is-reshaping-the-future_01_PC.jpg" alt="main_img">
					<div class="Content Text">
						<h3>🌟 What We Offer 🛠️</h3>
						<p>AIR is your one-stop destination for an assortment of AI-driven tools designed to enhance your productivity, creativity, and decision-making. Whether you're a professional, student, entrepreneur, or simply a curious individual, we have something for you.<br><br>Our offerings include:</p>
						<ul>
							<li>🚀 Productivity Boosters:<br>Discover cutting-edge AI tools that streamline your tasks, from content generation and data analysis to project management and more.</li>
							<li>📚 Knowledge Expansion:<br>Access AI-driven knowledge bases that facilitate learning and research, helping you stay ahead in your field.</li>
							<li>🔍 Data Insights:<br>Leverage AI analytics and data visualization tools to gain deeper insights into your data, turning raw information into valuable intelligence.</li>
							<li>💡 Creative Inspiration:<br>Unleash your creativity with AI-generated art and content ideas that expand your creative horizons.</li>
							<!-- TODO: forum <li>🤝 Community:<br>Connect with a community of like-minded individuals who share your enthusiasm for AI and explore ideas, projects, and innovations together.</li> -->
							<li>🆕 Frequent Updates:<br> We prioritize keeping our AI tools up-to-date with the latest advancements and features, ensuring a dynamic and ever-evolving environment for all your AI endeavors.</li>
						</ul>
					</div>
				</div>
				<div class="Row">
					<div class="Content Text">
						<h3>🌐 Join the AI Revolution 🤖</h3>
						<p>
							AIR is not just a website; it's a movement that invites you to embrace the AI revolution and unlock the endless possibilities it offers. Whether you're here to boost your productivity, explore your creative side, or delve into the depths of artificial intelligence, you've found your AI-powered home.
							<br><br>Join us in this incredible journey of human and machine collaboration, where the only limit is your imagination. Start exploring, experimenting, and experiencing the future with us at AIR.
							<br><br>🚀 Embrace AI. Empower Yourself. Welcome to AIR! 🌟
							<span class="placeholder"><br><br>use ai is easy as air</span>
						</p>
					</div>
					<img class="Content Image" src="https://cdn.sanity.io/images/tlr8oxjg/production/afce27d5dcb021422c709cb5bf60cb3a33f7376d-1456x816.png" alt="join_img">
				</div>
			</div>
		</div>
		{% include "blocks/footer.html" %}
	</body>
</html>