<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css' ~ request.path ~ '/index.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', path='/css/styles_override.css') }}" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
		<script src="{{ url_for('static', path='/scripts/lib/jquery.js') }}"></script>
		<script src="{{ url_for('static', path='/scripts/lib/util.js') }}"></script>
		<script src="{{ url_for('static', path='/scripts/login/index.js') }}"></script>
		{% if registration == 1 %}
			<title>Register - Am I Robot</title>
		{% else %}
			<title>Login - Am I Robot</title>
		{% endif %}
	</head>
	<body>
		{% include "blocks/header.html" %}
		<div id="Body">
			<div class="Container">
				<div class="Row">
					{% if registration == 1 %}
						{% include "widgets/register.html" %}
					{% else %}
						{% include "widgets/login.html" %}
					{% endif %}
				</div>
			</div>
		</div>
		{% include "blocks/footer.html" %}
	</body>
</html>